@media all and (max-width: 1250px)and (min-width: 1000px) {
    .awnser {
      padding-top: 20px;
      font-family: Exo;
      color: hsla(260, 0.00%, 100.00%, 1.00);
      line-height: 1.2em;
      letter-spacing: 0.05em;
      font-size: 2em;
    }

    .question {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Illuminaut designs cubenzis;
      color: hsla(260, 0.00%, 100.00%, 1.00);
      font-size: 2vw;
      line-height: 1em;
      letter-spacing: 0.1vw;
      text-transform: uppercase;
    }

    .main-container {
      display: flex;
      width: 100%;
      height: 50vw;
      max-width: 1920px;
      padding-right: 5em;
      padding-left: 5vw;
    }

    .main-container.faq1 {
      position: static;
      top: 18%;
      z-index: 5;
      overflow: hidden;
      width: 100%;
      height: auto;
      padding-top: 2em;
      padding-right: 2vw;
      padding-bottom: 2em;
      padding-left: 2vw;
    }

    .section-six6 {
      position: relative;
      z-index: 2;
      display: flex;
      width: 100%;
      height: 90vh;
      padding-top: 5em;
      padding-right: 10vw;
      padding-bottom: 5em;
      padding-left: 10vw;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;
 /*     background-image: @img_62986c7d5d711bcd7ec9173c; */
      background-position: 50% 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .text-block-13 {
      position: static;
      top: 26px;
      color: hsla(246.94214876033058, 0.00%, 100.00%, 1.00);
      font-size: 2.7vw;
      letter-spacing: 0.1em;
    }

    .text-block-13.name {
      top: 88%;
      font-size: 2vw;
    }

    .text-block-13 {
      position: static;
      top: 26px;
      color: hsla(246.94214876033058, 0.00%, 100.00%, 1.00);
      font-size: 1vw;
      letter-spacing: 0.1em;
    }

    .realitive {
      position: relative;
      display: flex;
      height: 60%;
      margin-right: 0px;
      padding-top: 4em;
      padding-right: 2vw;
      padding-bottom: 4em;
      padding-left: 2vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-top-style: none;
      border-top-width: 1px;
      border-top-color: hsla(0, 0.00%, 100.00%, 1.00);
      border-right-style: none;
      border-right-width: 1px;
      border-right-color: hsla(0, 0.00%, 100.00%, 1.00);
      border-bottom-style: none;
      border-bottom-width: 1px;
      border-bottom-color: hsla(0, 0.00%, 100.00%, 1.00);
      border-left-style: none;
      border-left-width: 1px;
      border-left-color: hsla(0, 0.00%, 100.00%, 1.00);
      border-top-left-radius: 6%;
      border-top-right-radius: 6%;
      border-bottom-left-radius: 6%;
      border-bottom-right-radius: 6%;
      background-color: hsla(28.61538461538462, 78.27%, 72.39%, 1.00);
      object-fit: fill;
    }

    .section-five5 {
      position: relative;
      display: flex;
      min-height: 40vh;
      padding-top: 3em;
      padding-right: 10vw;
      padding-bottom: 3em;
      padding-left: 10vw;
    }

    .section-five5.g.teamsec {
      z-index: 2;
      overflow: visible;
      min-height: 40vh;
      padding-top: 5em;
      padding-right: 0vw;
      padding-bottom: 5em;
      padding-left: 0vw;
    }

    .wizzup.two {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: 0%;
      z-index: 1;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .goldenboy.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .boombox.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .snowboy.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .baseball.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .beachguy.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .magicskull.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .cityboy.one {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .boxing.six {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .skateboy.five {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .snorkle.seven {
      position: absolute;
      left: 20%;
      top: 40%;
      bottom: auto;
      z-index: 2;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .birthday.four {
      position: absolute;
      left: 20%;
      top: 40%;
      right: auto;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .mummy.three {
      position: absolute;
      left: 20%;
      top: 40%;
      display: none;
      width: 30vw;
      height: 30vw;
    }

    .button-holder {
      display: flex;
      width: 25vw;
      height: 32vw;
      margin-bottom: 0%;
      border-top-style: none;
      border-top-width: 1px;
      border-top-color: hsla(280.7142857142857, 0.00%, 100.00%, 1.00);
      border-right-style: none;
      border-right-width: 1px;
      border-right-color: hsla(280.7142857142857, 0.00%, 100.00%, 1.00);
      border-bottom-style: none;
      border-bottom-width: 1px;
      border-bottom-color: hsla(280.7142857142857, 0.00%, 100.00%, 1.00);
      border-left-style: none;
      border-left-width: 1px;
      border-left-color: hsla(280.7142857142857, 0.00%, 100.00%, 1.00);
      border-top-left-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 10px;
      background-color: transparent;
      background-image: none
        /* linear-gradient(to bottom, hsla(283.265306122449, 76.96%, 62.55%, 0.75),hsla(283.265306122449, 76.96%, 62.55%, 0.75)), */
        /* @img_628dfc49977fb2fca054564e */
      ;
      background-position: 0px 0px
        /* 0px 0px, */
        /* 0% 100% */
      ;
      background-size: auto
        /* auto, */
        /* auto */
      ;
      background-repeat: repeat
        /* repeat, */
        /* no-repeat */
      ;
    }

    .button-holder.hl {
      position: absolute;
      left: auto;
      top: 42%;
      right: 12%;
      bottom: 0%;
      width: 21vw;
      height: 21vw;
      padding-right: 2vw;
      padding-left: 2vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      border-top-left-radius: 10px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 0px;
      background-color: transparent;
    }

    .section-three3 {
      position: relative;
      display: flex;
      min-height: 100vh;
      padding-top: 3em;
      padding-right: 10vw;
      padding-bottom: 3em;
      padding-left: 10vw;
      justify-content: center;
      align-items: center;
      border-top-style: none;
      border-top-width: 2px;
      border-top-color: black;
      background-color: hsla(148.08510638297872, 25.13%, 63.33%, 1.00);
      background-image: linear-gradient(360deg, hsla(245.7142857142857, 30.71%, 68.25%, 1.00) 88%, hsla(245.58139534883716, 36.13%, 76.67%, 1.00));
      font-family: Illuminaut designs cubenzis;
      color: hsla(246.94214876033058, 55.76%, 42.55%, 1.00);
    }

    .section-three3.g {
      background-color: hsla(244.89795918367346, 100.00%, 46.67%, 1.00);
      background-image: none;
    }

    .section-three3.g.rm {
      z-index: 3;
      overflow: visible;
      height: 20vh;
      min-height: 50vh;
      padding-right: 9vw;
      padding-left: 9vw;
      background-color: hsla(291.89189189189193, 74.00%, 80.39%, 1.00);
 /*     background-image: @img_6297f4a58b5415235e757b55; */
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .image-68 {
      position: absolute;
      left: 34%;
      top: 7%;
      z-index: 10;
      width: 700px;
    }

    .image-68.para {
      left: 8%;
      top: 50%;
      width: 300px;
    }

    .image-61 {
      display: none;
      position: absolute;
      left: auto;
      top: 40%;
      right: -11%;
      bottom: 0%;
      z-index: 30;
      width: 500px;
    }

    .image-59 {
      position: absolute;
      left: -15%;
      top: 7.5%;
      right: auto;
      bottom: 0%;
      z-index: 10;
      width: 600px;
    }

    .rm-text.rmp8 {
      width: 45vw;
      height: 80%;
      margin-right: 2%;
      margin-left: 2vw;
      padding-top: 2em;
      padding-right: 3vw;
      padding-bottom: 2em;
      padding-left: 3vw;
      flex-direction: column;
      align-items: flex-start;
      border-top-color: hsla(95.49295774647888, 56.35%, 49.41%, 1.00);
      border-right-color: hsla(95.49295774647888, 56.35%, 49.41%, 1.00);
      border-bottom-color: hsla(95.49295774647888, 56.35%, 49.41%, 1.00);
      border-left-color: hsla(95.49295774647888, 56.35%, 49.41%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(95.7446808510638, 49.88%, 77.39%, 1.00);
    }

    .Block:local-styles {}

    .rm-text.rmp7 {
      width: 45vw;
      height: 85%;
      margin-right: 5vw;
      margin-left: 2vw;
      padding-top: 3em;
      padding-right: 3vw;
      padding-bottom: 3em;
      padding-left: 3vw;
      flex-direction: column;
      align-items: flex-start;
      border-top-color: hsla(212.85714285714286, 50.00%, 49.41%, 1.00);
      border-right-color: hsla(212.85714285714286, 50.00%, 49.41%, 1.00);
      border-bottom-color: hsla(212.85714285714286, 50.00%, 49.41%, 1.00);
      border-left-color: hsla(212.85714285714286, 50.00%, 49.41%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(213.24324324324323, 86.10%, 80.82%, 1.00);
    }

    .rm-text.rmp6 {
      width: 45vw;
      height: 90%;
      margin-right: 5%;
      margin-left: 2vw;
      padding-top: 2em;
      padding-right: 3vw;
      padding-bottom: 2em;
      padding-left: 3vw;
      flex-direction: column;
      align-items: flex-start;
      border-top-color: hsla(261.7543859649123, 78.80%, 57.45%, 1.00);
      border-right-color: hsla(261.7543859649123, 78.80%, 57.45%, 1.00);
      border-bottom-color: hsla(261.7543859649123, 78.80%, 57.45%, 1.00);
      border-left-color: hsla(261.7543859649123, 78.80%, 57.45%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(261.47368421052636, 90.48%, 79.41%, 1.00);
    }

    .Block:local-styles {}

    .rm-text.rmp5 {
      width: 45vw;
      height: 80%;
      margin-right: 5%;
      margin-left: 2vw;
      padding-top: 2em;
      padding-right: 3vw;
      padding-bottom: 2em;
      padding-left: 3vw;
      flex-direction: column;
      align-items: flex-start;
      border-top-color: hsla(288, 54.22%, 48.82%, 1.00);
      border-right-color: hsla(288, 54.22%, 48.82%, 1.00);
      border-bottom-color: hsla(288, 54.22%, 48.82%, 1.00);
      border-left-color: hsla(288, 54.22%, 48.82%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(288.22429906542055, 96.40%, 78.24%, 1.00);
    }

    .image-68 {
      position: absolute;
      left: 34%;
      top: 12%;
      z-index: 10;
      width: 500px;
    }

    .rm-text.rmpstore {
      position: relative;
      z-index: 2;
      width: 45vw;
      height: 85%;
      margin-right: 2vw;
      margin-left: 2vw;
      padding-right: 3vw;
      padding-left: 3vw;
    }

    .rm-text.rmpstore:medium {
      width: 60vw;
      height: 50vh;
    }

    .rm-text.rmpstore:small {
      width: 70vw;
      height: 90%;
      margin-right: 0vw;
      margin-left: 0vw;
    }

    .rm-text.rmpstore:tiny {
      width: 100%;
      height: 75%;
      margin-top: 0em;
    }

    .Block:local-styles {}

    .rm-text {
      display: flex;
      width: 45vw;
      height: 65vh;
      margin-right: 10vw;
      margin-left: 0vw;
      padding-top: 2em;
      padding-right: 3vw;
      padding-bottom: 2em;
      padding-left: 3vw;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-top-style: dotted;
      border-top-width: 7px;
      border-top-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-right-style: dotted;
      border-right-width: 7px;
      border-right-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-bottom-style: dotted;
      border-bottom-width: 7px;
      border-bottom-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-left-style: dotted;
      border-left-width: 7px;
      border-left-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(261.47368421052636, 92.23%, 79.80%, 1.00);
    }

    .rm-text:medium {
      width: 55vw;
      height: 40vh;
      margin-right: 2vw;
    }

    .rm-text:tiny {
      width: 100%;
      height: 60%;
      margin-top: 2em;
      margin-right: 0vw;
    }

    .rm-text:small {
      height: 70%;
    }

    .rm-text.rmp3 {
      position: relative;
      z-index: 2;
      width: 45vw;
      height: 90%;
      margin-right: 2vw;
      margin-left: 2vw;
      padding-right: 3vw;
      padding-left: 3vw;
      align-items: flex-start;
      border-top-color: hsla(40.15384615384617, 67.01%, 61.96%, 1.00);
      border-right-color: hsla(40.15384615384617, 67.01%, 61.96%, 1.00);
      border-bottom-color: hsla(40.15384615384617, 67.01%, 61.96%, 1.00);
      border-left-color: hsla(40.15384615384617, 67.01%, 61.96%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
 /*     background-color: @swatch_5ae070b4; */
    }

    .paragraph {
      margin-top: 1em;
      margin-bottom: 0px;
      font-family: Exo;
      color: hsla(40.17391304347827, 0.00%, 100.00%, 1.00);
      font-size: 1.7vw;
      line-height: 1.8em;
      font-weight: 400;
      text-align: left;
      letter-spacing: 0.05em;
    }

    .link {
      font-family: Font awesome 6 brands 400;
      color: hsla(0, 0.00%, 100.00%, 1.00);
      font-size: 1.5vw;
      text-decoration: none;
    }

    .link:medium {
      font-size: 3.5vw;
    }

    .link:tiny {
      margin-top: 0em;
      font-size: 6vw;
    }

    .link:small {
      margin-top: 1em;
    }

    .link.nav {
      font-size: 3vw;
    }

    .section-header {
      position: relative;
      z-index: 2;
      display: flex;
      overflow: hidden;
      height: 70vh;
      justify-content: center;
      align-items: flex-end;
      background-color: transparent;
      background-image: none
        /* @img_6295580ac0479ad1c07bf74f */
      ;
      background-size: auto
        /* cover */
      ;
      background-repeat: repeat
        /* no-repeat */
      ;
      object-fit: fill;
    }

    .image-holder {
      position: absolute;
      left: auto;
      top: -37%;
      right: -30%;
      bottom: 0%;
      z-index: 1;
      width: 70vw;
      height: 100vh;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      background-color: transparent;
 /*     background-image: @img_62945ef3c731606864ca2f61; */
      background-position: 100% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;
    }

    .paragraph-11 {
      width: 100%;
      height: 40vh;
      margin-top: 2em;
      margin-bottom: 0px;
      margin-left: 1vw;
      padding-top: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      padding-left: 2em;
      font-family: Exo;
      color: hsla(246.94214876033058, 0.00%, 100.00%, 1.00);
      font-size: 0.4em;
      line-height: 2em;
      font-weight: 300;
      text-align: left;
      letter-spacing: 0.05em;
      text-transform: capitalize;
    }

    .paragraph-11:medium {
      width: 95%;
      margin-left: 0vw;
      font-size: 0.4em;
      line-height: 2em;
    }

    .paragraph-11:tiny {
      width: 100%;
      height: 100%;
      padding-left: 1em;
      font-size: 0.9em;
      line-height: 2em;
    }

    .paragraph-11:small {
      height: 100vh;
      font-size: 0.5em;
    }

    .Paragraph:local-styles {}

    .section-two2 {
      position: relative;
      display: flex;
      min-height: 60vh;
      padding-top: 3em;
      padding-right: 10vw;
      padding-bottom: 3em;
      padding-left: 10vw;
      justify-content: center;
      align-items: center;
      border-top-style: none;
      border-top-width: 2px;
      border-top-color: black;
      background-color: hsla(246.66666666666669, 45.76%, 76.86%, 1.00);
      background-image: linear-gradient(360deg, hsla(273, 53.57%, 78.04%, 1.00) 68%, hsla(245.58139534883716, 36.13%, 76.67%, 1.00));
      font-family: Illuminaut designs cubenzis;
      color: hsla(246.94214876033058, 55.76%, 42.55%, 1.00);
    }

    .section-two2.description {
      z-index: 2;
      overflow: hidden;
      padding-right: 10vw;
      padding-left: 0vw;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      background-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      background-image: none
        /* @img_62945ef3c731606864ca2f61 */
      ;
      background-size: auto
        /* contain */
      ;
      background-repeat: repeat
        /* no-repeat */
      ;
    }

    .section-two2.description:medium {
      min-height: 70vh;
      padding-right: 7vw;
      padding-left: 5vw;
    }

    .section-two2.description:tiny {
      min-height: 70vh;
      padding-right: 0vw;
      padding-left: 0vw;
      background-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      background-image: none
        /* @img_62945ef3c731606864ca2f61 */
      ;
      background-size: auto
        /* contain */
      ;
      background-repeat: repeat
        /* no-repeat */
      ;
    }

    .section-two2.description:small {
      min-height: 175vh;
      padding-top: 0em;
      padding-right: 2vw;
      padding-left: 2vw;
      align-items: flex-start;
    }

    .rm-phases {
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 50vh;
      padding-right: 5vw;
      padding-left: 5vw;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      background-color: hsla(258.5185185185185, 0.00%, 100.00%, 1.00);
    }

    .rm-text {
      display: flex;
      width: 45vw;
      height: 20vh;
      margin-right: 10vw;
      margin-left: 0vw;
      padding-top: 2em;
      padding-right: 3vw;
      padding-bottom: 2em;
      padding-left: 3vw;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-top-style: dotted;
      border-top-width: 7px;
      border-top-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-right-style: dotted;
      border-right-width: 7px;
      border-right-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-bottom-style: dotted;
      border-bottom-width: 7px;
      border-bottom-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-left-style: dotted;
      border-left-width: 7px;
      border-left-color: hsla(292.77108433734935, 69.75%, 76.67%, 1.00);
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      background-color: hsla(261.47368421052636, 92.23%, 79.80%, 1.00);
    }

    .section-four4 {
        position: relative;
        z-index: 2;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 400vh;
        padding-right: 0vw;
        padding-left: 0vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: hsla(291.89189189189193, 74.00%, 80.39%, 1.00);
    }
    